<nav>
  <div>
    <a href="/">Home</a>
    <p>My Website</p>
  </div>
  <ul>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs">Blog</a></li>
    <li><a href="/blogs/blog">New Blog</a></li>
  </ul>
</nav>
